<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CS4111</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>OracleServlet</display-name>
    <servlet-name>OracleServlet</servlet-name>
    <servlet-class>cs4111.OracleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OracleServlet</servlet-name>
    <url-pattern>/OracleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>cs4111.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logon</display-name>
    <servlet-name>Logon</servlet-name>
    <servlet-class>cs4111.Logon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logon</servlet-name>
    <url-pattern>/Logon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Homepage</display-name>
    <servlet-name>Homepage</servlet-name>
    <servlet-class>cs4111.Homepage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Homepage</servlet-name>
    <url-pattern>/Homepage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Transfer</display-name>
    <servlet-name>Transfer</servlet-name>
    <servlet-class>cs4111.Transfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transfer</servlet-name>
    <url-pattern>/Transfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delivery</display-name>
    <servlet-name>Delivery</servlet-name>
    <servlet-class>cs4111.Delivery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delivery</servlet-name>
    <url-pattern>/Delivery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Make_order</display-name>
    <servlet-name>Make_order</servlet-name>
    <servlet-class>cs4111.Make_order</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Make_order</servlet-name>
    <url-pattern>/Make_order</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reservation</display-name>
    <servlet-name>Reservation</servlet-name>
    <servlet-class>cs4111.Reservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reservation</servlet-name>
    <url-pattern>/Reservation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Menu</display-name>
    <servlet-name>Menu</servlet-name>
    <servlet-class>cs4111.Menu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Menu</servlet-name>
    <url-pattern>/Menu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_order</display-name>
    <servlet-name>Delete_order</servlet-name>
    <servlet-class>cs4111.Delete_order</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_order</servlet-name>
    <url-pattern>/Delete_order</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_delivery</display-name>
    <servlet-name>Delete_delivery</servlet-name>
    <servlet-class>cs4111.Delete_delivery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_delivery</servlet-name>
    <url-pattern>/Delete_delivery</url-pattern>
  </servlet-mapping>
</web-app>